{% extends "base.html" %}

{% block sidebar %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Log in</h4>
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {{ form.as_p }}
                        <button type="submit " class="btn btn-success ml-2">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}