{% extends "base.html" %}

{% block head %}
{% endblock %}
{% block body %}
<div class="d-flex justify-content-between">
	<h2>{{ schema_obj.name }} - generate csv</h2>
	<div>
		<form class="form-inline" onsubmit="generateCSV(event)" data-gen-csv-url="{% url 'webcsv:gen_csv' schema_obj.pk %}">
			{% csrf_token %}
			{{ form.count.label_tag }}
			<span class="ml-2">{{ form.count }}</span>
			<button type="submit" class="btn btn-success ml-2" name='submit'>Generate data</button>
		</form>
	</div>
</div>

<table class="table table-bordered mt-4"  style="table-layout: fixed;" data-status_pending="{{ status_pending }}"
       data-schema_id="{{ schema_obj.pk }}" data-check-csv-url="{% url 'webcsv:check_csv' schema_obj.pk %}">
	<thead>
	<tr>
		<th scope="col">#</th>
		<th scope="col">Created</th>
		<th scope="col">Status</th>
		<th scope="col">Actions</th>
	</tr>
	</thead>
	<tbody id="allCSV">
	{% if csvs %}
	{% for csv in csvs %}
	{% include 'webcsv/_csv.html' %}
	{% endfor %}
	{% endif %}
	</tbody>
</table>
{% load static %}
<script src="{% static 'webcsv/csvs.js' %}"></script>
{% endblock %}