{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<form method='post'>
	<div class="d-flex justify-content-between mb-4">
		<h2>Edit schema</h2>
		<div class="form-inline">
			<button class="btn bg-primary text-white ml-2" name='submit'>Submit</button>
		</div>
	</div>
	{% csrf_token %}
	{{ formset.management_form }}
	<div>
		{{ schema_form.as_p }}
	</div>
	<div class="m-3">
		<h2>Schema columns</h2>
		{% if formset.non_form_errors %}
		<ul id="non_form_errors">
			{% for error in formset.non_form_errors %}
			<li><em>{{ error|escape }} </em></li>
			{% endfor %}
		</ul>
		{% endif %}
		<div id="addedRows">
			{% for form in formset|slice:':-1' %}
			<div class="row">
				{% for field in form %}
				<div class="col-md-2 {{ field.css_classes }}">
					<div class="form-group">
						{{ field.label_tag }}
						<div>{{ field }}</div>
						<div class="error">{{field.errors}}</div>
					</div>
				</div>
				{% endfor %}
				<div class="col align-self-start mt-4">
					<a class="text-danger" onclick="deleteColumn(event)">Delete</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</form>

<div class="border p-3" id="newRow">
	<div class="row">
		{% for field in formset|last %}
		<div class="col-md-2 {{ field.css_classes }}">
			<div class="form-group">
				{{ field.label_tag }}
				<div>{{ field }}</div>
				<div class="error">{{field.errors}}</div>
			</div>
		</div>
		{% endfor %}
		<div class="col align-self-end mb-3">
			<a class="text-danger" onclick="deleteColumn(event)">Delete</a>
		</div>
	</div>
	<button class="mb-2 bg-primary text-white" type="button" onclick="addRow()">Add column</button>
</div>

<script type="text/javascript">
	function addRow() {
		let newRow = newRowContainer.firstElementChild.cloneNode(true);
		updateRowElementsId(newRow);
		document.getElementById('addedRows').appendChild(newRow);
		let formSetError = document.getElementById('non_form_errors');
		if (formSetError) {
			formSetError.remove();
		}
	}

	function updateRowElementsId(newRow, initial = false) {
		let replacedPrefix, count, newPrefix;

		if (initial) {
			replacedPrefix = `${formSetPrefix}-${totalCountForms.value-1}`;
			newPrefix = `${formSetPrefix}-new`;
		} else {
			replacedPrefix = `${formSetPrefix}-new`;
			count = totalCountForms.value++ - emptyForm;
			newPrefix = `${formSetPrefix.split('-')[0]}-${count}`;
		}

		newRow.querySelectorAll('label').forEach((label) => {
			label.htmlFor = label.htmlFor.replace(replacedPrefix, newPrefix);
		});
		newRow.querySelectorAll('input').forEach((input) => {
			input.name = input.name.replace(replacedPrefix, newPrefix);
			input.id = input.id.replace(replacedPrefix, newPrefix);
			if (!initial && !input.hidden && input.type !== 'hidden' && !input.id.endsWith('DELETE')) {
				console.log(input)
				input.required = true;
			}
		});
		newRow.querySelectorAll('select').forEach((select) => {
			let oldSelect = document.getElementById(select.id);
			select.options[oldSelect.selectedIndex].setAttribute("selected", "");
			select.name = select.name.replace(replacedPrefix, newPrefix);
			select.id = select.id.replace(replacedPrefix, newPrefix);
			if (select.id.endsWith('datatype')) {
				select.onchange = checkSelectorType;
			}
		});
	}

	function deleteColumn(event) {
		let row = event.target.parentElement.parentElement;
		if (row.parentElement.id === 'addedRows') {
			row.hidden = true;
			row.querySelector(`input[id$='DELETE']`).checked = true;
		}
	}

	function checkAllSelectorsType() {
		document.querySelectorAll("select[id$='-datatype']").forEach(select => {
			checkSelectorType(select);
			select.onchange = checkSelectorType;
		});
	}

	function checkSelectorType(event) {
		let select = null;
		if (event.target) {
			select = event.target;
		} else {
			select = event;
		}
		let currentPrefix = select.id.substr(0, select.id.lastIndexOf('-datatype'));
		if (!eTypes.includes(select.value)) {
			document.querySelector(`label[for='${currentPrefix}-to_column']`).hidden = true;
			document.querySelector(`input#${currentPrefix}-to_column`).hidden = true;
			document.querySelector(`label[for='${currentPrefix}-from_column']`).hidden = true;
			document.querySelector(`input#${currentPrefix}-from_column`).hidden = true;
		} else {
			document.querySelector(`label[for='${currentPrefix}-to_column']`).hidden = false;
			document.querySelector(`input#${currentPrefix}-to_column`).hidden = false;
			document.querySelector(`label[for='${currentPrefix}-from_column']`).hidden = false;
			document.querySelector(`input#${currentPrefix}-from_column`).hidden = false;
		}
	}

	let newRowContainer = document.getElementById('newRow');
	let formSetPrefix = {{ base_prefix|safe }}.value;
	let eTypes = {{ with_extra|safe }}.value;
	let totalCountForms = document.querySelector(`input[name='${formSetPrefix}-TOTAL_FORMS']`);
	let emptyForm = 1;

	updateRowElementsId(newRowContainer, true);
	checkAllSelectorsType();
</script>
{% endblock %}