{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<form method='post'>
	<div class="d-flex justify-content-between mb-4">
		<h2>Edit schema</h2>
		<div class="form-inline">
			<button class="btn bg-primary text-white ml-2" name='submit'>Submit</button>
		</div>
	</div>
	{% csrf_token %}
	{{ formset.management_form }}
	<div>
		{{ schema_form.as_p }}
	</div>
	<div class="m-3">
		<h2>Schema columns</h2>
		{% if formset.non_form_errors %}
		<ul id="non_form_errors">
			{% for error in formset.non_form_errors %}
			<li><em>{{ error|escape }} </em></li>
			{% endfor %}
		</ul>
		{% endif %}
		<div id="addedRows">
			{% for form in formset|slice:':-1' %}
			<div class="row">
				{% for field in form %}
				<div class="col-md-2 {{ field.css_classes }}">
					<div class="form-group">
						{{ field.label_tag }}
						<div>{{ field }}</div>
						<div class="error">{{field.errors}}</div>
					</div>
				</div>
				{% endfor %}
				<div class="col align-self-start mt-4">
					<a class="text-danger" onclick="deleteColumn(event)">Delete</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</form>

<div class="border p-3" id="newRow" data-with_extra="{{ with_extra }}" data-base_prefix="{{ base_prefix }}">
	<div class="row">
		{% for field in formset|last %}
		<div class="col-md-2 {{ field.css_classes }}">
			<div class="form-group">
				{{ field.label_tag }}
				<div>{{ field }}</div>
				<div class="error">{{field.errors}}</div>
			</div>
		</div>
		{% endfor %}
		<div class="col align-self-end mb-3">
			<a class="text-danger" onclick="deleteColumn(event)">Delete</a>
		</div>
	</div>
	<button class="mb-2 bg-primary text-white" type="button" onclick="addRow()">Add column</button>
</div>
{% load static %}
<script src="{% static 'webcsv/edit_schema.js' %}"></script>
{% endblock %}